version: "3"
services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2017-latest
    container_name: mssql
    restart: unless-stopped
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "strongpassword"
      MSSQL_AGENT_ENABLED: "true"
    ports:
      - 1433:1433

  poi:
    platform: linux/amd64
    container_name: poi
    build:
      context: ../src/poi
      dockerfile: ../../dockerfiles/Dockerfile_3
      args:
        SQL_USER: "sa"
        SQL_PASSWORD: "strongpassword"
        SQL_SERVER: mssql
    image: ${REGISTRY_URL}/poi:1.0

  trips:
    platform: linux/amd64
    container_name: trips
    build:
      context: ../src/trips
      dockerfile: ../../dockerfiles/Dockerfile_4
    image: ${REGISTRY_URL}/trips:1.0

  user-java:
    platform: linux/amd64
    container_name: user-java
    build:
      context: ../src/user-java
      dockerfile: ../../dockerfiles/Dockerfile_0
    image: ${REGISTRY_URL}/user-java:1.0

  userprofile:
    platform: linux/amd64
    container_name: userprofile
    build:
      context: ../src/userprofile
      dockerfile: ../../dockerfiles/Dockerfile_2
    image: ${REGISTRY_URL}/userprofile:1.0

  tripviewer:
    platform: linux/amd64
    container_name: tripviewer
    build:
      context: ../src/tripviewer
      dockerfile: ../../dockerfiles/Dockerfile_1
    image: ${REGISTRY_URL}/tripviewer:1.0
